body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.list-home {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px 2%;
    padding: 5px 0;
}

.list-home p {
    text-align: center;
    font-weight: bold;
}

.list-home ul {
    list-style: none;
    padding-left: 0;
}

.MainControls a, .widebtn{
    width: 100%;
    margin-top: 10px;
    font-size: 1.5em;
}

.managehomebuttons {
    width: 100%;
    margin-bottom: 5px;
}

.playername {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 25px;
}

.playertitle {
    display: inline-block;
    width: 29%;
    margin-left: 5%;

}
.playervalue {
    display: inline-block;
    width: 55%; 
}
.playertitle, .playervalue {
    border-bottom: lightgray 1px solid;
}

.playercard {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.message {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 100;
    background: lightslategray;
    width: 100%;
    display: none;
}

.currentAPR {
    font-weight: bold;
}