@model RealEstateGame.Models.Player

<div class="container">
    <div class="col-md-3">
        @Html.DisplayFor(m => m, "view-player")
    </div>
    @using (Html.BeginForm("Improve", "Home", FormMethod.Post))
    {
        <div class="col-md-9">
            @foreach (var home in Model.GetOwnedHomes())
            {
                @Html.DisplayFor(model => home, "list-home-improve")
            }
        </div>
    }
</div>