
@Html.Partial("ReturnHome")

@using (Html.BeginForm("Improve", "Home", FormMethod.Post))
{
    <div class="col-md-9">
        @foreach (var home in ViewBag.Player.GetOwnedHomes())
        {
            @Html.DisplayFor(model => home, "list-home-improve")
        }
    </div>
}