@model RealEstateGame.Models.Player

    <div class="MainControls">
@using (Html.BeginForm("action", "Home", FormMethod.Post))
{
        @if (!Model.IsSelfEmployed())
        {
            <button class="btn btn-success" name="selectedAction" value="overtime" onclick="this.form.submit()">$$ Work Overtime $$</button>
        }
        <button class="btn btn-default" name="selectedAction" value="moving" onclick="this.form.submit()">Move</button>
        <button class="btn btn-default" name="selectedAction" value="improve" onclick="this.form.submit()">Improve Your Homes</button>
        <button class="btn btn-default" name="selectedAction" value="skipturn" onclick="this.form.submit()">Next Turn</button>
        <button class="btn btn-default" name="selectedAction" value="managejob" onclick="this.form.submit()">Manage Jobs</button>
}
        <a href="/Home/ViewMarket" data-target="#rightside" class="btn btn-success ajax" name="selectedAction" value="viewMarket">View Market</a>
    </div>
