@using (Html.BeginForm("action", "Home", FormMethod.Post))
{
    <div>
        <button class="btn btn-success" name="selectedAction" value="overtime" onclick="this.form.submit()">$$ Work Overtime $$</button>
        <button class="btn btn-success" name="selectedAction" value="viewMarket" onclick="this.form.submit()">View Market</button>
        <button class="btn btn-default" name="selectedAction" value="moving" onclick="this.form.submit()">Move</button>
        <button class="btn btn-default" name="selectedAction" value="improve" onclick="this.form.submit()">Improve Your Homes</button>
        <button class="btn btn-default" name="selectedAction" value="skipturn" onclick="this.form.submit()">Next Turn</button>
        <button class="btn btn-default" name="selectedAction" value="managejob" onclick="this.form.submit()">Manage Jobs</button>
    </div>
}
