@using (Html.BeginForm("action", "Home", FormMethod.Post))
{
    <div>
        <button class="btn btn-success" name="selectedAction" value="overtime" onclick="this.form.submit()">$$ Work Overtime $$</button>
        <button class="btn btn-success" name="selectedAction" value="viewMarket" onclick="this.form.submit()">View Market</button>
        <button class="btn btn-primary" name="selectedAction" value="move" onclick="this.form.submit()">Move</button>
    </div>
}
