

<div class="containter">
    <div class="col-md-6" id="viewplayer">
        @Html.Partial("DisplayTemplates/view-player")
    </div>
    <div class="col-md-6" id="rightside">
        @Html.Partial(ViewData["partial"].ToString())
    </div>
</div>