@model RealEstateGame.Models.Player

    <div class="MainControls">
        @if (!ViewBag.Player.IsSelfEmployed())
        {
            <a href="/Home/Action?selectedAction=overtime" data-target="#viewplayer" class="btn btn-success ajax">$$ Work Overtime $$</a>
        }
        <a href="/Home/Action?selectedAction=skipturn" data-target="#viewplayer" class="btn btn-default ajax">Next Turn</a>
        <a href="/Home/Portfolio" data-target="#rightside" class="btn btn-default ajax">Improve Your Homes</a>
        <a href="/Home/ManageJobs" data-target="#rightside" class="btn btn-default ajax">Manage Jobs</a>
        <a href="/Home/Move" data-target="#rightside" class="btn btn-default ajax">Move</a>
        <a href="/Home/ViewMarket" data-target="#rightside" class="btn btn-success ajax">View Market</a>
    </div>
