@Html.Partial("ReturnHome")

@foreach (var job in ViewBag.Player.GetPotentialJobs())
{
    using (Html.BeginForm("ManageJobs", "Home", FormMethod.Post))
    {
        <input type="hidden" name="newJob" value="@job"/>
        <button class="btn widebtn ajax" data-target="#rightside">@job</button>
    }
}