@model RealEstateGame.Models.Player
@{
    ViewData["Button"] = "Move";
}
<div class="container">
    <div class="col-md-3">
        @Html.DisplayFor(m => m, "view-player")
        @using (Html.BeginForm("Move", "Home", FormMethod.Post))
        {
            <button class="btn btn-danger" name="HomeId" value="0">Apartment: $800/mo</button>
        }
    </div>
    @using (Html.BeginForm("Move", "Home", FormMethod.Post))
    {
        <div class="col-md-9">
            @foreach (var home in Model.GetOwnedHomes())
            {
                @Html.DisplayFor(model => home, "list-home-move")
            }
        </div>
    }
</div>