
@Html.Partial("ReturnHome")

@if (ViewBag.Player.LivingIn != "Apartment")
{
    using (Html.BeginForm("Move", "Home", FormMethod.Post))
    {
        <button class="btn btn-danger widebtn" name="HomeId" value="0">Apartment: $800/mo</button>
    }
}

@foreach (var home in ViewBag.Player.GetOwnedHomes())
{
    @Html.DisplayFor(model => home, "list-home-manage")
}