@model RealEstateGame.Models.Home

<div class="list-home col-sm-12">
    <p>@Model.Address</p>
    <hr/>
    <div class="col-sm-7">
        <ul>
            <li>Value: @string.Format("{0:C0}", Model.Value)</li>
            <li>Asking: @string.Format("{0:C0}", Model.Asking)</li>
            <li>Condition: @Model.Condition</li>
        </ul>
    </div>
    <div class="col-sm-5">
        @if (Model.Owned == 0 && Model.ForSale == 1)
        {
            <a href="/home/buyhome/@Model.HomeId" class="btn btn-success">Buy This Home</a>
        }
        else
        {
            <a href="/home/sellhome/@Model.HomeId" class="btn btn-danger">Sell This Home</a>
        }
    </div>
</div>